{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint-config-babel",
    "eslint-config-prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "all"
      }
    ]
  }
}